body {
  overflow: hidden;
}
.page {
  background-color: steelblue;
  display: flex;
  height: 98vh;
  max-width: 100vw;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column wrap;
  text-align: center;
}

.top-banner {
  background-color: yellow;
  height: 15%;
  width: 100%;
}

.lower {
  height: 85%;
  width: 100%;
  display: flex;
}

/* Lower Containers */
.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 35%; /* % of lower */
}
.brain-container {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
  width: 30%; /* % of lower */
}
.upgrade-container {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
  width: 35%; /* % of lower */
}

/* Lower items IDs for JS */
img {
  height: 60%;
  width: auto;
  cursor: pointer;
}
#data-display {
  background-color: white;
  width: 80%;
  height: 20%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 30px;
}

#upgrade-display {
  font-size: 0.5rem;
  background-color: white;
  width: 80%;
  height: 90%;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

.upg {
  color: red;
  width: 20%;
  height: 10%;
}

button {
  font-size: 0.2rem;
  height: 10%;
}
